<div class="breadcrumb-area py-2" style="background-color: black">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="/">home</a></li>
                <li><%= page %></li>
            </ul>
        </div>
    </div>
</div>
