<% if (locals.messages) { %> <% Object.keys(messages).forEach((key) => { %> <% messages[key].forEach((message) => { %>
<div class="alert alert-<%= key !== `error` ? key : `danger` %> fade show" role="alert">
    <strong><%= key === "danger" ? "Error" : key %>!</strong> <%= message %>.
</div>
<% }) %> <% }) %> <% } %>
