<div class="row">
    <div class="container-fluid">
        <form action="/add-banner" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center mb-4">Add New Banner</h2>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" required />
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="link">Link:</label>
                        <input type="url" class="form-control" id="link" name "link" required />
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" required />
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date:</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" required />
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="active" name="active" checked />
                        <label class="form-check-label" for="active">Active</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="submitBtn">Add Banner</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <h5 class="mb-3">Image Preview</h5>
                        <img id="image-preview" src="#" alt="Image Preview" class="img-thumbnail" />
                    </div>
                    <div class="form-group">
                        <label for="image">Banner Image:</label>
                        <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="crop-button">Crop Image</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
