<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Banner</h5>
                <div class="table-responsive">
                    <table id="bannerTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Banner For</th>
                                <th>Upload Banner</th>
                                <th>Starting Date</th>
                                <th>Ending Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Homepage</td>
                                <td>
                                    <input type="file" class="form-control-file" id="banner1" accept="image/*" />
                                </td>
                                <td><input type="date" class="form-control" id="startDate1" /></td>
                                <td><input type="date" class="form-control" id="endDate1" /></td>
                                <td id="status1">10 Days Left</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Product Page</td>
                                <td>
                                    <input type="file" class="form-control-file" id="banner2" accept="image/*" />
                                </td>
                                <td><input type="date" class="form-control" id="startDate2" /></td>
                                <td><input type="date" class="form-control" id="endDate2" /></td>
                                <td id="status2">5 Days Left</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#bannerTable").DataTable();
    });
</script>
