<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Add Product</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Category Name</th>
                                <th>List / Unlist</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Category A</td>
                                <td class="align-middle">
                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="categoryStatus1" checked />
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-primary"><i class="fas fa-edit"></i> </a>
                                    <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i> </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Category B</td>
                                <td class="align-middle">
                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="categoryStatus2" />
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-primary"><i class="fas fa-edit"></i> </a>
                                    <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i> </a>
                                </td>
                            </tr>
                            <!-- Add more category rows as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
