<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">
                <h1 class="cart-heading">forgot password</h1>
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form action="#" method="post">
                                <input type="email" name="user-email" placeholder="Email" required />
                                <div class="button-box">
                                    <button type="submit" class="default-btn floatright">Reset Password</button>
                                </div>

                                <div class="mt-3">
                                    <a href="/login" class="text-secondary">Remembered your password? Log in</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
