<!-- login-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">
                <%- include('../../partials/flash-message.ejs') %>
                <div class="login">
                    <h1 class="cart-heading">Login</h1>
                    <div class="login-form-container">
                        <div class="login-form">
                            <form action="/auth/login" method="post" id="loginForm">
                                <input type="email" name="email" placeholder="Email" />
                                <p class="text-danger" id="emailError"></p>
                                <input type="password" name="password" placeholder="Password" />
                                <p class="text-danger" id="passwordError"></p>
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <input type="checkbox" />
                                        <label>Remember me</label>
                                        <a href="/auth/forgot-password">Forgot Password?</a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <button type="submit" class="default-btn floatright" id="submitButton" disabled>
                                            Login
                                        </button>
                                        <a href="/auth/send-email" class="text-decoration-none text-muted">Verify Email</a>
                                    </div>
                                </div>
                            </form>
                            <!-- Add spacing and center-align the Google button -->
                            <div class="text-center mt-3">
                                <a href="/auth/google" class="btn btn-primary w-auto rounded-0 h-auto">
                                    <i class="ti ti-google"></i> Login with Google
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/shop/js/loginValidation.js"></script>
