<!-- register-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12 col-xl-6 ms-auto me-auto">
                <% include('../../partials/flash-message.ejs') %>
                <h1 class="cart-heading">Register</h1>
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form action="/auth/register" method="post" id="registrationForm">
                                <input
                                    type="text"
                                    name="firstName"
                                    placeholder="First Name"
                                    value="<%= data?.firstName %>"
                                    required
                                />
                                <p class="text-danger" id="firstNameError"></p>
                                <input
                                    type="text"
                                    name="lastName"
                                    placeholder="Last Name"
                                    value="<%= data?.lastName %>"
                                    required
                                />
                                <p class="text-danger" id="lastNameError"></p>
                                <input name="email" placeholder="Email" type="email" value="<%= data?.email %>" required />
                                <p class="text-danger" id="emailError"></p>
                                <input
                                    type="text"
                                    name="mobile"
                                    placeholder="Mobile"
                                    value="<%= data?.mobile %>"
                                    required
                                />
                                <p class="text-danger" id="mobileError"></p>
                                <input type="password" name="password" placeholder="Password" required />
                                <p class="text-danger" id="passwordError"></p>
                                <input type="password" name="confirm-password" placeholder="Confirm Password" required />
                                <p class="text-danger" id="confirmPasswordError"></p>
                                <div class="button-box">
                                    <button type="submit" class="default-btn floatright" id="registerButton">
                                        Register
                                    </button>
                                    <p class="text-danger" id="formErrorMessage"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/shop/js/registerValidations.js"></script>
