<!-- login-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <h2>Add New Address</h2>
                            <form>
                                <div class="row">
                                    <!-- Name -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" required />
                                        </div>
                                    </div>

                                    <!-- City and State -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input type="text" class="form-control" id="city" name="city" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="state">State</label>
                                            <input type="text" class="form-control" id="state" name="state" required />
                                        </div>
                                    </div>

                                    <!-- Address -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text" class="form-control" id="address" name="ADDRESS" required />
                                        </div>
                                    </div>

                                    <!-- Pin Code -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="pincode">Pin Code</label>
                                            <input type="text" class="form-control" id="pincode" name="pincode" required />
                                        </div>
                                    </div>

                                    <!-- Landmark -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="landmark">Landmark</label>
                                            <input type="text" class="form-control" id="landmark" name="landmark" />
                                        </div>
                                    </div>

                                    <!-- Contact Information -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="mobile">Mobile Number</label>
                                            <input type="tel" class="form-control" id="mobile" name="mobile" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email ID</label>
                                            <input type="email" class="form-control" id="email" name="email" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="altMobile">Alternative Mobile Number</label>
                                            <input type="tel" class="form-control" id="altMobile" name="altMobile" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Add Button -->
                                <div class="button-box">
                                    <button type="button" class="default-btn floatright">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-area end -->
